export RPC_URL={{ RPC_URL }}
export ENVIRONMENT={{ ENVIRONMENT }}
export ALIGNED_CONFIG_FILE={{ ALIGNED_CONFIG_FILE }}
export PHX_HOST={{ PHX_HOST }}
export ELIXIR_HOSTNAME={{ ELIXIR_HOSTNAME }}

# Database
export DB_NAME={{ DB_NAME }}
export DB_USER={{ DB_USER }}
export DB_PASS={{ DB_PASS }}
export DB_HOST={{ DB_HOST }}

# Tracker API
export TRACKER_API_URL={{ TRACKER_API_URL }}
export SECRET_KEY_BASE={{ SECRET_KEY_BASE }}
