[global]
aligned_layer_deployment_config_file_path=/home/app/config/alignedlayer_deployment_output.stage1.json
eigen_layer_deployment_config_file_path=/home/app/config/eigenlayer_deployment_output.json
eth_rpc_url=https://aligned-rpc-node-2.tail665ae.ts.net
eth_rpc_url_fallback=https://aligned-rpc-node-2.tail665ae.ts.net
eth_ws_url=wss://aligned-rpc-node-2.tail665ae.ts.net
eth_ws_url_fallback=wss://aligned-rpc-node-2.tail665ae.ts.net

ecdsa_private_key_store_path=/home/app/config/aggregator.ecdsa.key.json
ecdsa_private_key_store_password=""

bls_private_key_store_path=/home/app/config/aggregator.bls.key.json
bls_private_key_store_password=""
bls_public_key_compendium_address=0xFb83e1D133D0157775eC4F19Ff81478Df1103305

avs_service_manager_address=0x820D6589f3017A3AdBe18CDD74ab874960dd02A0
enable_metrics=true
