{{ caddy_metrics_url }} {
  reverse_proxy localhost:3000
}

{{ caddy_telemetry_url }} {
  @whitelisted {
    path /versions*
  }
  reverse_proxy @whitelisted localhost:4001
}

{{ caddy_jaeger_url }} {
  reverse_proxy localhost:16686
}
