- name: Install PostgreSQL 16
  hosts: "{{ host }}"

  vars:
    ansible_ssh_user: "{{ admin_user }}"

  tasks:

    - name: Update apt and install required system packages
      become: true
      ansible.builtin.apt:
        pkg:
          - curl
          - ca-certificates
        state: latest
        update_cache: true

    - name: Ensure directory exists for postgres ca-certificates
      become: true
      ansible.builtin.file:
        path: /usr/share/postgresql-common/pgdg
        state: directory
        mode: '0755'
    
    - name: Download postgres ca-certificates if not already present
      become: true
      ansible.builtin.get_url:
        url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
        dest: /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc
        mode: '0644'
        force: no

    - name: Add postgres apt repository
      become: true
      ansible.builtin.lineinfile:
        path: /etc/apt/sources.list.d/pgdg.list
        line: "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main"
        state: present
        create: true

    - name: Install PostgreSQL 16
      become: true
      ansible.builtin.apt:
        pkg:
          - postgresql-16
        state: latest
        update_cache: true
